@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
body {
  overflow: hidden;
}

button,
fieldset,
input {
  all: inherit;
}

.DialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 90vw; */
  /* max-width: 800px;
  max-height: 90vh; */
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  border-radius: 6px;
  /* border: 1px solid #373737; */
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button.violet:hover {
  background-color: var(--mauve3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: #262626;
  color: #49c179;
}

.Button.green:hover {
  background-color: var(--green5);
}

.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green7);
}

.Button.primary {
  background-color: #2678e0;
  color: #fff;
}

.Button.primary:hover {
  background-color: #3789f1;
  cursor: pointer;
}

.Button.secondary {
  background-color: #333134;
  color: #c4c4c4;
}

.Button.secondary:hover {
  background-color: #373737;
  cursor: pointer;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.Fieldset {
  margin-bottom: 14px;
}

.Label {
  font-size: 14px;
  font-weight: 500;
}

.Input {
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #0b0b0b;
}

.Input:focus {
  border: 1px solid #373737;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.tableDiv {
  margin: 20px 0;
  overflow-x: scroll;
  width: 100%;
  border-radius: 6px;
  background-color: white;
  @apply border border-border;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  /* color: #c4c4c4; */
}

.tableDiv .table-heading {
  padding: 8px 12px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #616161;
  position: sticky;
  left: 0;
  /* background-color: #1c1b1d; */
}

.report-table .tableDiv {
  text-align: center;
}

th {
  @apply border border-border text-dark-text;
  padding: 4px;
  padding-left: 0px;
  font-weight: 800;
}

td {
  max-width: 300px;
  text-overflow: ellipsis;
  @apply border border-border text-light-text;
  padding: 12px;
}

td > div {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 150px;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

th > div {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 150px;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

table th:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: white;
}

table td:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: white;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.report-table thead tr th:first-child,
.report-table tbody tr td:first-child {
  min-width: 250px;
}

tbody tr td:first-child .textAlignLeft {
  justify-content: start;
}

.chartjs-tooltip {
  display: none;
}

.apexcharts-toolbar {
  display: none !important;
}

.apexcharts-text > tspan {
  @apply text-red-500 !important;
}